
    <table class="table table-bordered">
{% for file in files %}
<tr>
    <th>Название файла</th>
    <th>Фотография</th>
    <th>Действия</th>
</tr>
<tr>
    <td>{{ file.fileName }}</td>
    <td><img style="object-fit: cover;" src="img/{{ login }}/1.jpg" alt=""></td>

</tr>
{% endfor %}
</table>






<h2>Пользователь {{ login }}</h2>
    <img style="object-fit: cover;" src="../../img/{{ login }}/1.jpg" alt="">
<form action="/users/save_file" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="login" value="{{ login }}">
     <input type="file" name="upload_file" id="upload_file">
    <br>
    <button type="submit">Загрузить</button>
</form>

<hr>



